@using CSCRM.Models.ResponseTypes
@model BaseResponse

<div class="inclusive-services-page-content" id="inclusive-services-page-content">
   @await Html.PartialAsync("_InclusivePartialView", Model)
</div>