@using CSCRM.Models.ResponseTypes
@using CSCRM.ViewModels.ClientOrdersVM
@model BaseResponse
@{
    EditHotelOrderVM order = Model.data;
}

<div class="edit-hotel-service-content" id="edit-hotel-service-content">
    @await Html.PartialAsync("_EditHotelOrderPartialView", Model)
</div>
