@using CSCRM.Models.ResponseTypes
@model BaseResponse
<div class="edit-client-info-page-content" id="edit-client-info-page-content">
    @await Html.PartialAsync("_EditClientInfoPartialView", Model)
</div>
