@using CSCRM.Models.ResponseTypes
@model BaseResponse
<div class="edit-inclusive-order-content" id="edit-inclusive-order-content">
    @await Html.PartialAsync("_EditInclusiveOrderPartialView", Model)
</div>
