@using CSCRM.Models.ResponseTypes
@using CSCRM.ViewModels.ClientOrdersVM
@model BaseResponse

<div class="edit-restaurant-service-content" id="edit-restaurant-service-content">
   @await Html.PartialAsync("_EditRestaurantOrderPartialView", Model)
</div>
