@using CSCRM.Models.ResponseTypes
@model ResponseForTourByCarPage

<div id="tourCarType-edit-page-content" class="tourCarType-edit-page-content">
    @await Html.PartialAsync("_EditTourCarPartialView", Model)
</div>
