@using CSCRM.Models.ResponseTypes
@model BaseResponse

<div class="inclusive-service-edit-page-content" id="inclusive-service-edit-page-content">
    @await Html.PartialAsync("_EditInclusivePartialView", Model)
</div>