@using CSCRM.Models.ResponseTypes
@model BaseResponse

<div class="restaurant-edit-page-content" id="restaurant-edit-page-content">
   @await Html.PartialAsync("_EditRestaurantPartialView", Model)
</div>
